%table.listing
  %tr
    %th Visiteur
    %th Newsletter
    %th Url
    %th Url de provenance
    %th Loggé le
  - @logs.each do |log|
    %tr
      %td&= log.visitor_id
      %td
        - if log.issue_id?
          = link_to log.issue.newsletter.name, log.issue.newsletter
      %td= link_to truncate(log.url), log.url
      %td
        - if log.referrer?
          = link_to truncate(log.referrer), log.referrer
      %td&= log.created_at

= will_paginate @logs
