%h1 Nouveau profil

= error_messages_for :profile
- form_for @profile do |f|

  %fieldset
    %legend Informations générales
    %p
      = label_tag 'name', 'Nom'
      %br
      = f.text_field :name
    %p
      = label_tag 'description', 'Description'
      %br
      = f.text_area :description, :rows => 3

  %fieldset
    %legend Critères
    %p
      = link_to_remote 'Ajouter', :url => new_criterion_path, :method => :get, :with => "'field=' + $('#field')[0].value"
      un critère sur
      = select_tag 'field', options_for_select(field_options_for_select)
    %table{ :id => 'criteria_area' }
      = render :partial => 'criteria/criterion', :collection => @profile.criteria

  %fieldset
    %legend
      Aperçu des abonnés -
      = submit_to_remote 'update_subscribers_preview', 'mise à jour', :url => list_subscribers_path
    %p.help Les critères incomplets seront ignorés.
    %div{ :id => 'subscribers_area' }
      %em Veuillez mettre la liste à jour

  %p= submit_tag 'Enregistrer'
