%h1 Nouvelle newsletter

= error_messages_for :newsletter
- form_for @newsletter do |f|

  %fieldset
    %legend Informations générales
    %p
      = label_tag 'name', 'Nom'
      %br
      = f.text_field :name
    %p
      = label_tag 'description', 'Description'
      %br
      = f.text_area :description, :rows => 3

  %fieldset
    %legend Profils ciblés
    %p
      = link_to_remote 'Ajouter', :url => new_profile_path, :method => :get, :with => "'id=' + $('#profile')[0].value"
      le profil
      = select_tag 'profile', options_for_select(profiles_for_select)
    %table{ :id => 'profiles_area' }
      = render :partial => 'profile', :collection => @newsletter.profiles


  %fieldset
    %legend Dates et périodicité des envois
    %table
      %tr
        %td= label_tag 'start_at', 'Début des envois :'
        %td= f.date_select :start_at
      %tr
        %td= label_tag 'stop_at', 'Fin des envois :'
        %td= f.date_select :stop_at, :include_blank => true
      %tr
        %td= label_tag 'frequency', 'Fréquence :'
        %td
          tou(te)s les
          = f.text_field :frequency, :class => 'right', :size => 3
          = f.select :frequency_unit, frequency_unit_options_for_select

  %fieldset
    %legend Modèle de l'email
    = render :partial => 'content_help'
    %p
      = label_tag 'email_title', 'Titre'
      %br
      = f.text_field :email_title, :size => 50
    %p
      = label_tag 'email_content', 'Contenu'
      %br
      = f.text_area :email_content, :cols => 100, :rows => 40

  %p= submit_tag 'Sauvegarder pour l\'envoi'
