!!! XML
!!!
%html{ html_attrs('fr-fr') }
  %head
    %meta{ 'http-equiv' => 'Content-type', 'content' => 'text/html; charset=utf-8' }
    %title Backend
    = stylesheet_link_tag 'backend_style'
  %body
    #header Administration
    #content
      - if logged_in?
        #greeting
          %div
            Identifié en tant que:
            = link_to_current_admin
          %div= link_to 'Déconnexion', admin_logout_path, :method => :delete
      - unless flash[:error].blank?
        .flash.error&= flash[:error]
      - unless flash[:notice].blank?
        .flash.notification&= flash[:notice]
      = yield
