!!! XML
!!! Strict
%html{ html_attrs('fr-fr') }
  %head
    %meta{ 'http-equiv' => 'Content-type', 'content' => 'text/html; charset=utf-8' }
    %title emailr - Backend
    = stylesheet_link_tag 'backend_style'
  %body
    #header
      #logo= link_to(image_tag('emailr.png', :alt => 'emailr logo', :title => 'emailr logo'), backend_root_path)
      #user_area
        - if logged_in?
          Identifié en tant que:
          = link_to_current_admin
          |
          = link_to 'Déconnexion', admin_logout_path, :method => :delete
    #content
      - unless flash[:error].blank?
        .flash.error= simple_format(h(flash[:error]))
      - unless flash[:notice].blank?
        .flash.notification= simple_format(h(flash[:notice]))
      = yield
