%tr{ :class => cycle('even', 'odd') }
  %td&= subscriber.identifier
  %td&= subscriber.email
  %td&= subscriber.first_name
  %td&= subscriber.last_name
  %td&= t "subscriber.gender.#{subscriber.gender}" if subscriber.gender?
  %td&= subscriber.birth.to_formatted_s            if subscriber.birth?
  %td&= subscriber.age
  %td&= subscriber.city
  %td&= subscriber.state
  %td&= subscriber.country
