%h1 Liste des administrateurs

%table
  %tr
    %th Login
    %th Nom
    %th Email
  - for admin in @admins
    %tr
      %td&= admin.login
      %td&= admin.name
      %td&= admin.email
      %td= link_to 'Détails', admin
      %td= link_to 'Supprimer', admin, :method => :delete, |
                   :confirm => "Etês vous sur de vouloir supprimer l'administrateur #{admin.login.inspect} ?" |

= link_to 'Nouvel admnistrateur', admin_signup_path
