!!! XML
!!! Strict
%html{ html_attrs('fr-fr') }
  %head
    %meta{ 'http-equiv' => 'Content-type', 'content' => 'text/html; charset=utf-8' }
    %title emailr
    = stylesheet_link_tag 'style'
    = javascript_include_tag :defaults
  %body
    #header
      #logo= link_to(image_tag('emailr.png', :alt => 'emailr logo', :title => 'emailr logo'), root_url)
      #user_area
        - if logged_in?
          Identifié en tant que:
          = link_to_current_account
          |
          = link_to 'Déconnexion', logout_path, :method => :delete
        - else
          - form_tag session_path do
            = label_tag :login
            = text_field_tag :login, 'login'
            = label_tag :password
            = password_field_tag :password, 'password'
            = submit_tag 'Se connecter', :class => 'button'
    #menu
      %ul
        %li= link_to 'Accueil',      root_path
        %li= link_to 'S\'inscrire',  signup_path
        %li= link_to 'Abonnés',      subscribers_path
        %li= link_to 'Mailing',      newsletters_path
        %li= link_to 'Tracking',     tracking_path
        %li= link_to 'Statistiques', stats_path
    - if sub_menu
      #sub_menu
        %ul
          - sub_menu.each do |sub|
            %li= link_to sub[:name], send("#{sub[:path]}_path")
    #content
      - unless flash[:error].blank?
        .flash.error= simple_format(h(flash[:error]))
      - unless flash[:notice].blank?
        .flash.notification= simple_format(h(flash[:notice]))
      = yield
    .clearboth
    #footer
      %p Footer
